.container {
  display: flex;
  flex-flow: column;
  width: 320px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav {
  flex-grow: 1;
}
.logo {
  margin-right: 10px;
}
.navList {
  display: flex;
  justify-content: space-between;
}
.navList a {
  display: inline-block;
  color: black;
  text-transform: capitalize;
}
.navList a::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: black;
  margin-top: 10px;
}
